<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0" matadata-complete="true">
  <display-name>Typing</display-name>

  
<servlet>
 <!-- ControlServlet.class 논리적 이름정의 -->
<servlet-name>cotroller</servlet-name>
<servlet-class>spring.model2.control.ControlServlet</servlet-class>
 <!-- Servlet Life Cycle 이해..
 	:: 최초 Request 시 WAS Thread 발생 init() / service() 호출
 	:: 이후 Request 시 WAS Thread 발생 service() 호출
  -->
 
 <!-- WAS 구동시 Servlet loading (console창 확인) -->
<load-on-startup>1</load-on-startup>  
</servlet>

<servlet-mapping>
<servlet-name>contoller</servlet-name>
<url-pattern>*.do</url-pattern>
</servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
 <!-- 하단 수업 완료 -->
 <!-- DataSource Definition -->
 <resource-ref>
 	<res-ref-name>jdbc/ora</res-ref-name>
 	<res-type>javax.sql.DataSource</res-type>
 	<res-auth>Container</res-auth>
 </resource-ref>
 
 <!-- 선언적 예외처리, 에러등록 -->
 <error-page>
  <error-code>405</error-code>
  <location>/jw05/405ErrorDisplay.html</location>
 </error-page>
 
 <error-page>
 	<exception-type>java.lang.NullPointerException</exception-type>
 	<location>/NullErrorDisplay</location>
 </error-page>
</web-app>